@import url('https://fonts.googleapis.com/css2?family=Cantora+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Cantora One", sans-serif;
    color: var(--quaternary-color);
}

body, html {
    width: 100%;
    height: 100%;
    background: var(--quaternary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

:root {
    --primary-color: #ffd7dd;
    --secondary-color: #ff0080;
    --tertiary-color: #ffffff;
    --quaternary-color: #000000;
}
.playerContainer{
    width: 400px;
}
.musicPlayer{
    background: var(--primary-color);
    width: 100%;
    height: 100%;
    max-width: 400px;
    padding: 25px 35px;
    border-radius: 10px;
    text-align: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .circle{
    text-align: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(101, 101, 101, 0.433);
}
.songImage{
    width: 200px;
    border-radius: 10px;
    border: 8px solid var(--tertiary-color);
    margin: 40px 10px;
    box-shadow: 0 5px 10px rgba(255, 131, 131, 0.534);
}
#progress{
    -webkit-appearance: none;
    width: 80%;
    height: 6px;
    background: var(--secondary-color);
    margin: 40px 0;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: var(--secondary-color);
    border: 6px solid var(--tertiary-color);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    box-shadow: 0 5px 10px rgba(101, 101, 101, 0.433);
}
.controls{
    display: flex;
    align-items: center;
    justify-content: center;
}
.controls i{
    font-size: 25px;
    margin: 20px;
    padding: 10px;
    background: var(--tertiary-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    color: var(--secondary-color);
    box-shadow: 0 5px 10px rgba(255, 131, 131, 0.534);
}   
.controls i #control{
    font-size: 30px;
    padding: 20px;
}